html{
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #333;

}

li {
  float: right;
}

.highlight{
  background-color: rgb(91, 159, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

button{
  background-color:grey;
  border-radius: 5px;
  height:50px;
  width: 100px
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body{ 
  background-color: #465f5c;
  color: #465f5c;
  align-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.body img{
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  color: #E9E5DF;
  /*background-color: #465f5c;
  color: #E9E5DF;*/
  align-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container img{
  filter: brightness(50%);
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  background-size: cover;
}
article{
  background-color: rgba(51, 51, 51,0.8);
  align-content: center;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 4;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: left;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2;
} 

h1{
  font-size: 7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /*color: #E9E5DF;*/
  color: #465f5c;
}

h3 > p{
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #465f5c;
  width:100%;
  display:block;
  margin:auto;
  align-items: center;
}

.smallfont{
  font-size: 3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #E9E5DF;
  text-align: left;
}

.bigfont{
  font-size: 5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #465f5c;
}

p a{
  color:#E9E5DF
}

.center{
  align-content:"center";
}

.column {
justify-content: center;
width: 28%;
padding: 10px;
min-height: 320px; 
max-height: fit-content;
margin: 10px;
display: inline-flex;
text-align: justify;
border-style: double;
border-radius: 30px;
background-color: #333;
position: relative;
}

.column1{
  justify-content: center;
  width: 28%;
  padding: 10px;
  min-height: 650px;
  max-height: 100%;
  margin: 10px;
  display: inline-flex;
  text-align: justify;
  border-style: double;
  border-radius: 30px;
  background-color: #333;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  
}

.column2{
  justify-content: center;
  width: 28%;
  padding: 10px;
  min-height: 520px;
  max-height: fit-content;
  margin: 10px;
  display: inline-flex;
  text-align: justify;
  border-style: double;
  border-radius: 30px;
  background-color: #333;
  position: relative;
  overflow: hidden;
}
.column1 img{
  left: 100px;
  bottom:2%;
  margin: 3px;
  position: absolute;
}


.column2 img{
  position: absolute;
  left: 100px;
  bottom:2%;
}
.row:after {
content: "";
display: table;
clear: both;
}

@media (max-width: 600px) {
.column {
  width: 100%;
}
}
@media (max-width: 800px) {
  .column1 {
    width: 100%;
  }
}

h2{
  font-size: 5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #E9E5DF;
  float:left ;
}

img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
}
p{
  font-size: 3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #E9E5DF;
  line-height: 2;
  max-height: fit-content;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 300px;
  background-color: #333;
}

.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 300px;
  background-color: rgba(39, 104, 233,0.3);
  overflow: hidden;
}

.container1 form{
  padding:20px;
  width:500px;
  background: #fff;
  overflow: hidden;
}

.container form{
  padding:20px;
  width:500px;
  background: #fff;
}

.submit{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #333;
  color:#fff;
  margin-top: 10px;
  cursor: pointer;
}

.submit:hover{
  transform: scale(0.95);
}

.left{
  float: left;
  align-items: left;
}

.item{
  text-align: left;
}

div > input {
  width: 215%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  box-sizing: content-box;
}

